TOKEN=
BOT_USERNAME=
TG_CHAT_ID=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=
POSTGRES_POOL_SIZE=
POSTGRES_MAX_OVERFLOW=
POSTGRES_POOL_TIMEOUT=
POSTGRES_ECHO=
POSTGRES_POOL_PRE_PING=
POSTGRES_POOL_RECYCLE=

REDIS_URL=

GOOGLE_SHEET_URL=
GOOGLE_SHEET_TOKEN=
GOOGLE_SHEET_USER_URL=